<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizza-orders/new">New Order</a>
      </li>
    </ul>
  </nav>
  <!-- <p>Hey I'm stuff above the content</p> -->
  <%= yield %>
  <!-- <p>I'm below the content</p> -->
</body>
</html>
